
    <div class="grid col-6_sm-12-middle padded-0 text-center-sm">
        <h1 id="to-the-top" class="padded-l-r text-lato"> 
            <a href="/index.html"> <img src="/images/epic-logo.svg" alt="кружки из керамики"
        class="logo"> </a>
        </h1>   
    </div> 

    <nav class="col-6_sm-12-middle right padded-1 center-sm mob-hide"> 
        <a href="/index.html"> Главная </a>
        <a href="/index.html"> Магазин </a>
        <a href="#contact" class="padded-1"> Контакты </a>
    </nav>
    <div class="col-7 right mob-show padded-0">
        <a class="hamburger-button"> &#9776; </a>
    </div>

    <!--  Mobile menu -->
    <div class="mobile-menu">
        <nav> 
            <a href="/index.html"> Магазин </a>
            <a href="#review"> Отзывы </a>
            <a href="#about"> О проекте </a>
            <a href="#contact"> Контакты </a>
        </nav>
    </div>
